# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Settings
/.vscode/tasks.json

# temp file
/temp
.rpt2_cache
*.tsbuildinfo

# dependencies
/node_modules

# testing
/coverage

# production
/es
/umd
tsdoc-metadata.json

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
