# config
/.vscode
/.circleci

# use less build output
/umd/**/*.ts
/umd/**/*.ts.map

# can be regenerated
/api-documents

# temp file
/temp
*.tsbuildinfo
/.rpt2_cache

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
